[submodule "vendor/zlib-ng"]
	path = vendor/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://github.com/pnggroup/libpng
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark
[submodule "vendor/libjpeg-turbo"]
	path = vendor/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
